# name of the action
name: publish

# trigger on push to master
on:
  push:
    branches:
      - master

# pipeline to execute
jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
    - name: clone
      uses: actions/checkout@v2
      with:
        submodules: recursive
        fetch-depth: 0

    - name: node
      uses: actions/setup-node@v1
      with:
        node-version: '12'

    - name: hugo
      uses: peaceiris/actions-hugo@v2
      with:
        hugo-version: '0.75.1'
        extended: true

    - name: build
      env:
        HUGO_ENV: production
      run: |
        npm install -D --save autoprefixer
        npm install -D --save postcss
        npm install -D --save postcss-cli
        hugo

    - name: publish
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: gh-pages
        publish_dir: ./public
